# Config file for pylint

[MESSAGES CONTROL]

# Things we don't want the linter to whine about:
# C0321 = No one line if statements
# This is sometimes nice: attribute-defined-outside-init

# Let's disable them
disable=C0321,attribute-defined-outside-init
