[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
pyecore = "~=0.12"
lxml = "*"
more-itertools = "==7.2.0"
requests = "==2.22.0"
zipp = "==0.6.0"
Flask = "~=1.1.1"

[dev-packages]
pytest = "*"
pylint = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
