[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
pyecore = "~=0.12"
pyecoregen = "*"
lxml = "*"
more-itertools = "*"
requests = "*"
Flask = "~=1.1.1"
Flask-Caching = "*"
'sentry-sdk[flask]' = "*"

[dev-packages]
pytest = "*"
pylint = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
linter = "python -m pylint app"
# Fetches the esdl ecore resource from git (optional commit hash argument)
fetch_esdl_ecore_resource = "python lib/tasks/fetch_esdl_resource.py 966707e"
generate_esdl_module = "pyecoregen -e vendor/esdl/esdl.ecore -o vendor --auto-register-package"
