[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
# pyecore = "~=0.12.2-dev"
# pyecoregen = "*"
# lxml = "*"
more-itertools = "*"
requests = "*"
Flask = "*"
Flask-Caching = "*"
'sentry-sdk[flask]' = "*"
markupsafe = "==2.0.1"
pyyaml = "*"
pyesdl = "*"

[dev-packages]
pytest = "*"
pylint = "*"
requests-mock = "*"
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest"
linter = "python -m pylint app"
