aniso8601==8.0.0
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
Flask==1.1.1
flask-restplus==0.13.0
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
lxml==4.4.1
MarkupSafe==1.1.1
more-itertools==7.2.0
numpy==1.17.3
ordered-set==3.1.1
pandas==0.25.2
pyecore==0.11.1
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
RestrictedPython==5.0
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
zipp==0.6.0
